.profile {

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile__section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile .section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    padding: 1rem 0.5rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.info span {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.info span i {
    font-size: 1.5rem;
}

.profile__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img {
    width: 5rem;
    aspect-ratio: 1 / 1;

    border-radius: 0.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.form input {
    width: 300px;
    font-weight: bold;
}

.form select {
    width: 120px;
    height: 30px;
}

.form label {
    margin-right: 20px;
}

.form .save {
    margin-right: 20px;
}

.ta_info {
    width: 100%;

    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.right_float_modal .modal__body {
    align-items: stretch;
}

.announcement_form div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5rem;

    width: 100%;
    flex-wrap: wrap;
    white-space: nowrap;
}

.announcement_form input {
    flex-grow: 1;
}

.background__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

@media screen and (min-width: 657px) {
    .info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 769px) {
    .info {
        grid-template-columns: repeat(3, 1fr);
    }
}