.registerForm label {
    margin: 10px 0;
}

.registerForm input {
    padding: 5px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
}

.registerForm button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.makeRegisterRow img {
    width: 40%;
    height: 50%;
}

.makeRegisterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerForm p {
    font-weight: bolder;
    font-size: 26px;
}

.selectOption {
    border: solid 2px #0069d9;
    width: 300px;
    height: 32px;
    font-size: large;
}

@media screen and (max-width: 768px) {

    .makeRegisterRow {
        flex-direction: column;
    }


    .makeRegisterRow img {
        width: 77%;
    }

}