div {
    box-sizing: ;
}

label {
    margin: 10px 0;
    font-size: 18px;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid var(--main-blue);
    border-radius: 5px;
}



button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}



img {
    width: 40%;
    height: 50%;
    margin-right: 20px;
}

.makeRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}


.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

p {
    font-weight: bolder;
    font-size: 26px;
}


@media screen and (max-width: 768px) {

    .makeRow {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .loginForm {
        align-items: center;
        justify-content: center;
        margin-left: 160px;
    }

}