.sharifLogo {
    width: 100%;
    height: 60%;
}

.header {
    width: 100%;
    height: 60vh;
    background-image: url(../../assets/images/mainPage/mainpage.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}