.navbar {
    width: 100%;
    background-color: #fff;
    font-weight: 600;

    position: relative;
}

.navbar__container {
    width: 100%;
    background-color: #0069d9;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__container ul {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
}

.navbar__left {
    display: flex;
    gap: 0.5rem;
}

.navbar__container a {
    opacity: 0.6;
    transition: opacity 0.1s ease;
}

.navbar__container a:hover {
    opacity: 1;
}

.mainButton {
    color: white;
    padding-right: 20px;
}

.profileLink {
    color: white;
    padding-left: 20px;
}

.Icon {
    width: 32px;
    height: 32px;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prof {
    margin-right: -11px;
    margin-left: 6px;
}

.mainI {
    margin-right: 6px;
}

ul.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    white-space: nowrap;
}

.dropdown-menu li {
    list-style-type: none;
    padding: 0.5rem 0.3rem;

    background-color: #fff;
    transition: all 0.1s ease-in;
}

.dropdown-menu li * {
    opacity: 1;
}

.dropdown-menu li:hover {
    background-color: #d8d8d8;
}