.navbar {
    width: 100%;
    background-color: #fff;
    font-weight: 600;
}

.navbar__container {
    width: 100%;
    background-color: #0069d9;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__container ul {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
}

.navbar__left {
    display: flex;
    gap: 0.5rem;
}

.navbar__container a {
    opacity: 0.6;
    transition: opacity 0.1s ease;
}

.navbar__container a:hover {
    opacity: 1;
}

.mainButton {
    color: white;
    padding-right: 20px;
}

.profileLink {
    color: white;
    padding-left: 20px;
}