.volunteer__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 1rem;
}

.volunteer__container .card {
    height: auto;
    flex-direction: row;
    align-items: center;
}


.volunteer__name {
    font-size: 1.2rem;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}