.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.not-found img {
    width: 50%;
    min-width: 300px;
}

.not-found h1 {
    margin-top: -20px;
    color: #0069d9;
    font-weight: bolder;
    text-align: center;
}

.link {
    color: white;
}

.booodMaanavi{
    padding-top: -18850px;
    margin-bottom: 20px;
}

.goBack{
    height: 50px;
    width: 220px;
    font-weight: bold;
}