.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.not-found h1 {
    margin-top: -20px;
    color: #0069d9;
    font-weight: bolder;
}

.not-found button {
    width: 30vw;
    height: 6vh;
    margin-bottom: 20px;
}

.link {
    color: white;
}