.welcomeImg {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/welcomePage/welcomePage.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 1880px) {
    .welcomeImg {
        background-size: 1700px;
    }
}

.welcomeh2{
    background-color: #fff;
    padding-top: 50px;
    margin-bottom: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0069d9;
    font-weight: bolder;
    font-size: 30px;

}


@media screen and (max-width: 768px) {
    .welcomeh2{
        font-size: 26px;
    }
    .welcomeImg {
        background-size: 1020px;
    }
}