.welcomeImg {
width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/welcomePage/welcomePage.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll
}
