.landing{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-left: #0069d9 solid 11px;
    border-bottom: #3f5fff solid 11px;
    background-color: #dbe2ff;
}

.rightSection{
    margin-right: 30px;
}


.description{
    margin-right: 10px;
    display: flex;
    text-align: justify;
}


.buttons{
    margin-top: 30px;
    gap: 10px;
}

.img{
    width: 50%;
}


@media screen and (max-width: 1024px){
    .landing{
        flex-direction: column;
        border-left: #0069d9 solid 5px;
        border-bottom: #3f5fff solid 5px;

    }

    .description{
        margin-left: 30px;

    }

    .buttons{
        flex-direction: row;
        gap: 5px;
    }

    .img{
        width: 100%;
        margin-top: -30px;
    }


}