:root {
    --light-blue: #5063c7;
    --hover-blue: #1e4774;
    --main-blue: #3a4892;
    --dark-blue: #6c747c;
}

input {
    outline: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--light-blue);
    color: #fff;
}

button:hover {
    background-color: var(--hover-blue);
}