:root {
    --light-blue: #2e67a5;
    --hover-blue: #1e4774;
    --main-blue: #3a4892;
    --dark-blue: #6c747c;
    --border-color: #cdd0d4;

    --red: #b63939;
    --hover-red: #922626;

    --green: #347a2e;
}

input,
textarea {
    outline: none;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    resize: none;
    overflow: hidden;
    outline: none;

    padding: 0.1rem 0.5rem
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--light-blue);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button.cancel {
    background-color: var(--red);
}

button.cancel:hover {
    background-color: var(--hover-red);
}

button:hover {
    background-color: var(--hover-blue);
}

.ReactModal__Content--open {
    overflow: hidden;
}